.rounded-circle {
    border-radius: 50% !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.border-bottom {
    border-bottom: 1px solid #dbdade !important;
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.dropdown-shortcuts-item a,
.dropdown-shortcuts-item a:hover {
    display: block;
    margin-bottom: 0;
    color: #6f6b7d !important;
    font-weight: 600;
}

.dropdown-shortcuts-item .dropdown-shortcuts-icon {
    height: 3rem;
    width: 3rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(75, 70, 92, .08);
}

.row-bordered>.col::before,
.row-bordered>[class^=col-]::before,
.row-bordered>[class*=" col-"]::before,
.row-bordered>[class^="col "]::before,
.row-bordered>[class*=" col "]::before,
.row-bordered>[class$=" col"]::before,
.row-bordered>[class=col]::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    display: block;
    height: 0;
    border-top: 1px solid #dbdade;
}

.dropdown-shortcuts-item {
    text-align: center;
    padding: .875rem;
}

.dropdown-shortcuts-item:hover {
    background-color: rgba(75, 70, 92, .04);
}

@media (prefers-reduced-motion: no-preference)
:root {
    scroll-behavior: smooth;
}
.dropdown-shortcuts-item .dropdown-shortcuts-icon{
    height:3rem;
    width:3rem;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgba(75,70,92,.08);
}
.dropdown-shortcuts-item a,.layout-navbar 
.dropdown-shortcuts-item a:hover{
    display:block;
    margin-bottom:0;
    color:#6f6b7d !important;
    font-weight:600
}

.row-bordered {
    overflow: hidden
}

.row-bordered>.col,
.row-bordered>[class^=col-],
.row-bordered>[class*=" col-"],
.row-bordered>[class^="col "],
.row-bordered>[class*=" col "],
.row-bordered>[class$=" col"],
.row-bordered>[class=col] {
    position: relative;
    padding-top: 1px
}

.row-bordered>.col::before,
.row-bordered>[class^=col-]::before,
.row-bordered>[class*=" col-"]::before,
.row-bordered>[class^="col "]::before,
.row-bordered>[class*=" col "]::before,
.row-bordered>[class$=" col"]::before,
.row-bordered>[class=col]::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    display: block;
    height: 0;
    border-top: 1px solid #dbdade
}

.row-bordered>.col::after,
.row-bordered>[class^=col-]::after,
.row-bordered>[class*=" col-"]::after,
.row-bordered>[class^="col "]::after,
.row-bordered>[class*=" col "]::after,
.row-bordered>[class$=" col"]::after,
.row-bordered>[class=col]::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    display: block;
    width: 0;
    border-left: 1px solid #dbdade
}

.row-bordered.row-border-light>.col::before,
.row-bordered.row-border-light>.col::after,
.row-bordered.row-border-light>[class^=col-]::before,
.row-bordered.row-border-light>[class^=col-]::after,
.row-bordered.row-border-light>[class*=" col-"]::before,
.row-bordered.row-border-light>[class*=" col-"]::after,
.row-bordered.row-border-light>[class^="col "]::before,
.row-bordered.row-border-light>[class^="col "]::after,
.row-bordered.row-border-light>[class*=" col "]::before,
.row-bordered.row-border-light>[class*=" col "]::after,
.row-bordered.row-border-light>[class$=" col"]::before,
.row-bordered.row-border-light>[class$=" col"]::after,
.row-bordered.row-border-light>[class=col]::before,
.row-bordered.row-border-light>[class=col]::after {
    border-color: rgba(75, 70, 92, .05)
}

[dir=rtl] .row-bordered>.col::after,
[dir=rtl] .row-bordered>[class^=col-]::after,
[dir=rtl] .row-bordered>[class*=" col-"]::after,
[dir=rtl] .row-bordered>[class^="col "]::after,
[dir=rtl] .row-bordered>[class*=" col "]::after,
[dir=rtl] .row-bordered>[class$=" col"]::after,
[dir=rtl] .row-bordered>[class=col]::after {
    left: auto;
    right: -1px
}

.bg-label-secondary {
    background-color: #f2f2f3 !important;
    color: #a8aaae !important
}


.dropdown-shortcuts-item a,
.dropdown-shortcuts-item a:hover {
    display: block;
    margin-bottom: 0;
    color: #6f6b7d !important;
    font-weight: 600;
}

.dropdown-shortcuts-item {
    text-align: center;
    padding: 0.875rem;
}

.dropdown-shortcuts-item:hover {
    background-color: rgba(75,70,92,.04);
}

/*bar chart css*/
.nav-tabs.widget-nav-tabs .nav-link {
    border: 1px dashed #dbdade;
}
.card .nav.nav-tabs {
    margin-right: -1.5rem;
    margin-left: -1.5rem;
}

.nav-tabs.widget-nav-tabs {
    border: 0 !important;
    overflow-x: auto;
}
.tab-content>.tab-pane{
    display:none
}
.tab-content>.active{
    display:block
}
.nav~.tab-content{
    background:#fff
}
.tab-content{
    padding:1.5rem;
    border-radius:.375rem
}
.nav-align-right>.tab-content,.nav-align-left>.tab-content{
    flex-grow:1
}
.nav-align-top>.tab-content,.nav-align-right>.tab-content,.nav-align-bottom>.tab-content,.nav-align-left>.tab-content{
    flex-shrink:1;
    background-clip:padding-box;
    background:#fff
}
.nav-align-top>.nav-pills~.tab-content,.nav-align-right>.nav-pills~.tab-content,.nav-align-bottom>.nav-pills~.tab-content,.nav-align-left>.nav-pills~.tab-content{
    box-shadow:0 .25rem 1.125rem rgba(75,70,92,.1)
}
.nav-align-top :not(.nav-pills)~.tab-content{
    border-radius:0 0 .375rem .375rem
}
.nav-align-right :not(.nav-pills)~.tab-content{
    border-radius:.375rem 0 0 .375rem
}

.nav-align-top>.nav-pills~.tab-content,.nav-align-right>.nav-pills~.tab-content,.nav-align-bottom>.nav-pills~.tab-content,.nav-align-left>.nav-pills~.tab-content{
    box-shadow:0 .25rem 1.125rem rgba(75,70,92,.1)
}
.nav-align-top :not(.nav-pills)~.tab-content{
    border-radius:0 0 .375rem .375rem
}
.nav-align-right :not(.nav-pills)~.tab-content{
    border-radius:.375rem 0 0 .375rem
}
[dir=rtl] .nav-align-right :not(.nav-pills)~.tab-content{
    border-radius:0 .375rem .375rem 0
}
.nav-align-bottom :not(.nav-pills)~.tab-content{
    border-radius:.375rem .375rem 0 0
}
.nav-align-left :not(.nav-pills)~.tab-content{
    border-radius:0 .375rem .375rem 0
}
[dir=rtl] .nav-align-left :not(.nav-pills)~.tab-content{
    border-radius:.375rem 0 0 .375rem
}

.tab-pane, .tab-pane .card-body {
    outline: none !important;
}

.fade {
    transition: opacity .15s linear;
}
@media (min-width: 768px){
.nav-tabs.widget-nav-tabs .nav-link {
    height: 94px !important;
    width: 110px !important;
    border-radius: 0.375rem;
}
}
